@charset "UTF-8";
/* CSS Document */

/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body{
	padding:30px;
	text-align:center;
	background-color:#fff;
	color:#222;
	font-size:18px;
	font-family: "CrimsonRoman", "Times New Roman", Georgia, serif;
	line-height:1.5em;
	display:block;
	margin:8px;
	}

/*navbar*/
div.nav{					
	text-align:right;
	padding:10px;
	margin:-30px 0 20px 0;  /* ? why -30px ? */
	} 
div.nav ul li{
	margin:0;
	padding:0;
	list-style-type:none;
	display:inline;
	font-size:12px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	}
div.nav ul li a{
	color:#369;
	text-decoration:none;
	}
div.nav ul a:hover{
	color:#18afe0;
	}	
div.nav ul a.singin{
	color:#18afe0;
	}
div.nav ul a.singin:hover{
	color:#336699;
	}
div.nav ul li{
	display:inline;
	padding:0 10px 0;
	}
div.nav ul li.date{
	float:left;
	padding-top:4px;
	color:#999;
	}
	
/*logo*/
#logo{
	text-align:center;	/* ? why is logo margin so great ? */
	width:164px;
	height:39px;
	padding-top:60px;
	padding-bottom:40px;
	}

/*text and nav buttons*/
.container{
	margin:20px 0;
	padding:0;
	}

h1{
	display:block;
	min-width:825px;
	max-width:825px;
	text-align:center;
	margin:auto;
    font-size: 58px;
    clear: both;
    line-height: 1.0em;
    margin-bottom: 20px;
    letter-spacing: -2px;
	color: #232323;
	}
	
h5{						/* ? there is no change to h5 ? */
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	font-size:20px;
	font-weight:500;
	margin:10px 0;
	min-width:825px;
	text-align:center;	
	}

.verbiage{
	height:225px
	}
	
.bChRcF{
	text-decoration: underline;
	color: #055F7D;
	}

.hoverVerbiage h1{
	display:block;
	min-width:825px;
	max-width:825px;
	text-align:center;
	margin:auto;
    font-size: 50px;
    clear: both;
    line-height: 1.0em;
    margin-bottom: 20px;
    letter-spacing: -2px;
	color: #232323;
	}
	
hoverVerbiage h5{
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	font-size:14px;
	font-weight:500;
	margin:10px 0;
	min-width:825px;
	text-align:center;
	}
	
/* arrows */
	
#bc-arrow{
	margin: -12px 0 0 230px;
	position: absolute;
	
	}
#hr-arrow{
	position: absolute;
	margin: -12px 0 0 455px;
	}
#cf-arrow{
	position: absolute;
	margin: -12px 0 0 535px;;
	}
	

.buttons{
	/*position:absolute;*/
	display:block;
	min-width:825px;
	text-align:center;
	} 
	                  
.allbttns{
	width:180px;
	height:250px;
	margin:15px 20px 5px;
	border-radius:5px;
	border: 1px solid #e8e8e8;
	background:linear-gradient(#fefefe, #ebebeb);
	font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	}
	
.allbttns img{
	margin:0 0 10px 0;
	}
	
.allbttns h3 span{
	text-decoration:underline;
	font-size:21px;
	margin:3px 0 0 10px;
	color:#369;
	font-weight:bold;
	}
	
.allbttns h3 sup{
	color:#999;
	font-weight:normal;
	font-size:11px;
	vertical-align:super;
	}
	
.allbttns h4 p{
	margin:5px 0 10px;
	font-size:14px;
	color:#cc0000;
	}
	
.allbttns p{
	margin-top:5px;
	font-size:14px;
	line-height:1.4em;
	}	
	
	
/*asterisk*/
#astrisk{
	display:block;
	min-width:825px;
	text-align:center;
	}
.astbox{
	margin:40px auto;
	}

